.menu{
    display: flex;
    list-style: none;
    background: red;
    justify-content: space-around;
}
.menu>li{
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid white;
    position: relative;
   
}
.menu>li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.menu>li:last-child{
    border: none;
}
.menu>li:not(:last-child){
    border-right: 2px solid white
}
.menu ul{
    padding: 0px;
    list-style: none;
    display: block;
    background: black;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    /* display: none; */
}
.menu ul>li {
    text-align: left;
    padding: 0px 95px;
    border-bottom: 1px solid white;
}
.menu >li:hover ul{
    display: block;
  }

  .menu ul>li{
      border-right: 1px solid white;
  }
  .menu ul>li>a {
      padding-left: 10px;
      padding-right:10px;
  }
  .menu>li:hover ul {
      display: block;
  }
  .menu>li li ul {
      top: -2px;
      left: (100%-2px);
      display: none;
  }
  .menu>li li:hover ul{
      display: block;
  }
.menu>li li ul>li:first-child{
    border-top: 2px solid white;
}