*,
*:before,
*:after {
    box-sizing: border-box;
}
.title_top {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 25px;
}
.style{
    text-align: left;
   padding-left: 10px;
   font-size: 17px;
}
.box_title_top {
    max-width: 600px;
    text-align: center;
    margin-top: 68px;
    margin: auto;
}
.text{
    margin-top: -15px;
    font-size: 17px;
    color: #6c7592;
    font-weight: lighter;
}
.button{
    color: #50A4FF;
    border: 1px  solid#50A4FF;
    background: white;
    font-size: 15px;
    border-radius: 3px;
}
.button2{
    color: black;
    background: white;
    border: none ;
}
.button3{
    color: white;
    background: #007Bff;
    font-size: 15px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    width: 215px;
    transition: all 0.4s ease;
}
.button3:hover{
    background: rgb(0, 58, 121);
    width: 150px;
    padding: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E8eb;
    padding-bottom: 10px;
    padding-top: 10px;
}
.flex1{
    display: flex;
    font-size: 20px;
}
.flex2{
    display: flex;
    justify-content: center;

}
.box_title{
    border-bottom: 1px solid #dfdfdf;
    background: #f7f7f7;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.box_content{
    border: 1px solid #dfdfdf;
    background: #ffffff;
    text-align: center;
    max-width: 260px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden   
}
.style-ul{
    list-style: none;
    padding-right: 40px;
}
.size{
    font-size: 40px;
}
.font-style{
   font-family: Arial, Helvetica, sans-serif ;
}
.color{
    color: #6c7592;
    font-size: 35px;
}
@keyframes myAnimation {
    from { left: 0px; }
    to { left: 300px; }
}

.animationPr {
    border: 1px solid red;
    text-align: center;
    width: 100px
}

.animationPr13 {
    position: relative;
    animation: myAnimation 3s ease 2s infinite alternate ;
}
