*,
*:before,
*:after {
    box-sizing: border-box;
}
.row {
    display: flex;
}
.row.justify_content_space_between {
    justify-content: space-between;
}
.row.justify_content_center {
    justify-content: center;
}
.content-cart {
    display: flex;
    max-width: 1000px;
    margin: auto;
}
.form-row{
    display: flex;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.input-group {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 30px;
}
.input-group .input-group-prepend {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    padding: 5px;  
}
.input-group input {
    flex: 1 1 auto;
    border: 0;
    padding: 5px;
}
.col-address{
    width: 70%;
    padding-right: 30PX;
}
.col-cart{
    width: 30%;
    margin-top: 30px;
}
ul.box_price_detail {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-left: 1px;
}
ul.box_price_detail li {
    color: #000;;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
ul.box_price_detail li:last-child {
    border-bottom: 0;
}
ul.box_price_detail li.promo {
    color: green;
    background: transparent;
}
.style{
    padding: 6px;
    width: 100%;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    border-radius: 5px
}
.box_text{
    padding: 6px;
    border: 1px solid #cccccc;
    margin-bottom: 30px;
    border-radius: 5px
}
.box_tex2{
    width: 100%;
    border: 1px solid #cccccc;
    margin-bottom: 30px;
}
.font-style{
    font-family: Arial, Helvetica, sans-serif ;
 }