*{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
img {
    width: 100%;
    max-width: 100%;

}
.container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.content{
    display: flex;
}
p{
    font-size: 20px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    color: #096f25;
    margin-bottom: 10px;
    margin-top: 10px;
}
.image-left > img:first-child {
        width: 80%;
    }
img{
    width: 10%;
    margin-right: 20px;
    margin-bottom: 20px;
}
.font-style{
    width: 100%;
    max-width: 35%; 
    margin-top: 40px;
}