*{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
img {
    width: 100%;
    max-width: 100%;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
}
.col-number {
    flex-grow: 0;
    width: 60px;
}
.border-number{
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #096f25;
    background: #fff;
    border-radius: 50%;
    color: #096f25;
    padding: 15px;
    text-align: center;
    z-index: 2;
}
.col-text {
    flex-grow: 1;
}
.flex{
    display: flex;
}
.text-content{
    color: #737881;
    margin-bottom: 40px;
    margin-top: 40px;
}
h3{
    font-size: 24px;
    color: #096f25;
}
h1{
    color: #096f25;
    text-align: center;
    margin-top: 20px;
}
.font-style{
    margin-top: 65px;
    width: 100%;
    max-width: 30%;
    margin-left: 380px;
}
img{
    width: 100%;
    max-width: 60%;
    margin-top: 65px;
}
.text-hdfooter{
    color: #096f25;
     text-align: center;
     font-size: 25px;
     margin-bottom: 10px;
     margin-top: 50px;
}
.text-footer{
    text-align: center;
    color: #333333;
    font-size: 25px;
    margin-top: 20px;
}
.button{
    background-color: #d70404;
    border: 1px solid #d70404;
    color: white;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    width: 265px;
    padding: 25px;
  }
.style-button{
    display: flex;
    justify-content: center;
}
.style-button :hover{
    background-color: #fff;
    color: #d70404 ;
}
.box-list {
    position: relative;
}
.box-list:after {
    display: block;
    content: '';
    position: absolute;
    left: 24px;
    top: 0;
    width: 0;
    height: 100%;
    border-left: 2px dashed #096f25;
    z-index: 1;
}
li{
    list-style: none;
}