*,
*:before,
*:after {
    box-sizing: border-box;
}
img {
    width: 100%;
    max-width: 100%;

}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.font-style{
    font-family: Arial, Helvetica, sans-serif ;
 }
 .flex{
     display: flex;
     border: 1px solid#F2f2f2;
     width: 20%;
    padding: 14px;
    background: #F2f2f2;
    min-width: 300px;
 } 
 .title{
     font-weight: 100;
     font-size: 50px;
     color: #212529;
 }
 .title-content{
    font-weight: 300;
    font-size: 35px;
    margin-top: 35px;
    color: #483b3b;
    font-weight: 600;
 }
 .text-box{
     color: #363434;
     margin-left: 15px;
     font-size: small;
 }
 .text-ad{
     color: rgb(117, 112, 112);
     margin-top: 10px;
     margin-left: 15px;
     font-size: small;
 }
 .text-header{
     color: #676c71;
     font-size: 25px ;
     margin-top: -20px;
     font-weight: 200;
 }
 .text-content{
    width: 100%;
    font-size: 16px;
    color: #676c71;
 }
 .color-span{
     color: crimson;
 }
 .color-code{
     color: crimson;
     font-size: 15px;
 }
 .table-content{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
 }
.box_text {
    padding-right: 10%;
}
table.table_01 {
    width: 100%;
    border-collapse: collapse;
}

table.table_01 tr td {
    border: 0;
    border-bottom: 1px solid #dee2e6;
    padding: 5px 10px;
    padding-bottom: 15px;
    padding-top: 15px
}
table.table_01 tr th {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #dee2e6;
}
tr:first-child{
    border-top:  1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}
