*,
*:before,
*:after {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1100px;;
    margin-left: auto;
    margin-right: auto;
}
.table-content{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .table-row{
 background: #343a40;
 }
 .table-row1{
 background: #007bff ;
 }
 .table-row2{
 background: #28a745;
 }
 .table-row3{
 background: #17a2b8;
 }
 .table-row4{
 background: #ffc107;
 }
 .table-row5{
 background: #dc3545;
 }
table.table_01 {
    width: 100%;
    border-collapse: collapse;
    height: 430px;
}
table.table_01 tr th,
table.table_01 tr td {
    border: 0;
    padding: 5px 10px;
    color: white;
}
.color{
    color: #4Ea4ff;
}
.margin{
margin-bottom: 30px;
}
.text-align{
    text-align: left;
}