*{
    margin: 0;
    padding: o;
}

header,nav,main,footer{
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
}
.bg-gray{
    background: gray;
}
.mb-5{
    margin-bottom: 5px;
}
header{
    height: 80px;
}