.tick{
    color: green;
   font-size: 50px;
}
.tick2{
    color: red;
    font-size: 50px;
}
.flex{
    display: flex;
    justify-content: center;

}
.border{
    border: 2px dotted red;
    width: 320px;
}
.border2{
    border: 2px dotted green;
    width: 320px;
}
.tick-icon{
    color: red;
}
.tick-icon2{
    color: green;
}
.style{
    padding: 14px;
    margin-bottom: 10px;
}
.style1{
    padding: 14px;
    margin-bottom: 10px;
}
.style-4{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
  }
  .flex{
      display: flex;
      justify-content: center;
  }