.heading-1 {
    font-size: 70px; color: #006595;
}
.heading-2 {
    font-size: 60px; color: #006595
}
.heading-3 {
    font-size: 50px; color: #006595
}
table {
    width: 100%;
}
.title ul li a {
    color: #006595;
}
.title{
     height: 40px;
     width: 200px;
    vertical-align: top;
    border: 1px solid black;
}
.title ul li {
    list-style: circle;
}
.anh{
    background-image: url(bìa.jpg)
}
.khung{
    
}
.mau{
    background-color: #006595;
    color: white;
}
.main-content {
    display: flex;
}
.main-content > span{
    padding-left: 10px;
}
.backtop{
    text-align: right;
}
.main-content-1{
    display: flex;
    justify-content: space-between;
}
.border{
    border: 1px solid black;
}
.style{
    color: green;
    text-align: center;
}
.style-2{
 text-align: center;
}
.style-3{
    text-align: center;
    color: rgb(20, 172, 20);
}
.style-4{
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.style-k{
    display: flex;
    justify-content: center;
}
.style-a{
    display: flex;
    justify-content: center;
}
.dot {
    margin-left: 10px;
    height: 5px;
    width: 5px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}
.bai2{
    color: green;
    font-size: 30px;
    text-align: center;
}
.table{
    margin-left: auto;
    margin-right: auto;
}
.borderstyle{
    
    color: black;
    width: 430px;
    background: rgb(236, 233, 233);
   
}
.row{
    display: flex;
    color: white;
    background: black;
    border-radius: 10px;
    font-size: 50px;
   
    margin: 10px;
}

.menu-top{
    border-radius: 10px;
    background: black;
}

.menu-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-top > ul{
    display: flex;
    flex-direction: row;
}
.menu-top > ul > li {
    position: relative;
    padding: 10px;
    flex-grow: 1px;
}
.menu-top ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
.menu-top .has-submenu > ul {
    display: none;
}
.menu-top .has-submenu:hover {
    background:black;
}
.menu-top .has-submenu:hover > ul {
    display: block;
    background: black;
    position: absolute;
    left: 0;
    top: 100%;
    margin-left: -10px;
    min-width: 150px;
    width: auto;
    text-align: center;
    padding: 0 20px;
    margin: 0
}
.menu-top .has-submenu > ul > li > a{
    display: block;
   font-size: 30px;
   padding: 5px 10px;
}
