*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container{
    border: 1px black solid;
    background-color: #000000ad;
    width: 100%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 150px;
}
.screen{
    font-size: 20px;
    background-color: #b0ac60;
    padding: 10px;
    border-radius: 5px;
}
.button button{
    width: 62px;
    height: 35px;
    color: white;
    background-color: black;
}
.button_style{
    padding: 10px;
    position: relative;
    top: 35px;
}
.button_0{
    width: 128px;
    background-color: black;
    color: white;
    margin-right: 4px;
}
.button_3{
    margin-right: 4px;
}
.button_4{
    position: absolute;
    height: 100px;
    background-color: black;
    color: white;
    width: 62px;
    height: 70px;
}
.layout_button{
    display: flex;
}