*,
*:before,
*:after {
    box-sizing: border-box;
}
.font-style{
    font-family: Arial, Helvetica, sans-serif ;
 }
 h1{
     font-size: 36px;
     color: #096f25;
     text-align: center;
 }
 .text-style{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #333333;
 }
 .text-style1{
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.text-style2{
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    margin-top: 40px;
}
.flex{
    display: flex;
   width: 100%;
   max-width: 90%;
   margin-left: 140px;
  margin-top: 20px;
}
.content{
    width: 100%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.max-with{
    max-width: 67%;
}
.max-with1{
    max-width: 80%;
}
.max-with2{
    max-width: 81%;
}

