*,
*:before,
*:after {
    box-sizing: border-box;
}
.title{
    width: 100%;
    max-width: 15%;
}
.flex{
    display: flex;
}
.flex1{
    display: flex;
    flex-direction: column;
   align-items: center;
   width: 60%;
}
.font-style{
    font-family: Arial, Helvetica, sans-serif ;
 }
 .text-title{
     text-align: center;
 }
 .button{
        background-color: red; 
        border: none;
        color: white;
        padding: 27px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 270px;
        border-radius: 5px;
        margin-top: -20px;
 }
 .text1{
     margin-top: 20px;
     font-size: 50px;
     font-weight: 300;
     margin-bottom: 0px;
 }
 .text2{
    font-size: 65px;
    color: #096F25;
    margin-top: 0px; 
 }
 .text3{
    font-size: 24px;
    color: #d70404;
    margin-top: 5px;
 }
 .margin{
     margin-right: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     flex: 1;
    }
.style-icon{
    margin-bottom: 20px;
}
.text-content{
    width: 100%; 
    width:81%; 
    text-align: center;
     font-size: 20px;
}
.text-content1{
    width: 100%; 
    width: 88%; 
    text-align: center;
     font-size: 20px;
}
.text-content2{
    width: 100%;
     width: 80%; 
     text-align: center; 
     font-size: 20px;
}
.conteiner{
    background-image: url(cover-01-new.jpg);
    padding-left: 100px;
    background-position: right;
    background-size: cover;
    height: 750px;
}
