*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
 border: 1px solid blue;
 margin-left: 500px;
 margin-top: 100px;
 width: 100%;
 max-width: 30%
}
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(199, 226, 252);

}
.text_second{
    margin-left: 6%;
    margin-top:10px ;
    margin-bottom: 10px;
}
.text_last{
    margin-left: 25px;
}
button{
    width: 100%;
    max-width: 15%;
    margin-left: 215px;
    background-color: red; 
    position: relative;
    top: -22px;
    right: -52px;
    color: white;
}
.monney {
    position: relative;
}
p{
    position: absolute;
    top: -14px;
    right: 145px;
}
